.idea
.venv
*.env
*token.txt
/.venv-wsl/
vast-create-instance.txt
vast-instance-raw.txt
vast-search-offers.txt
flux.1-dev.png
/VAST.AI/vast-search.json
/VAST.AI/old/FramePack_00001.mp4
/VAST.AI/old/FramePack_00002.mp4
/zold/comfyui-union/old/
/zold/comfyui-union/requirements.out1
/zold/comfyui-union/requirements.out
/zold/comfyui-union/configs/UNO/config.json