HF_TOKEN=hf_Um
CIVITAI_TOKEN=f8d
AI_IO_NET="io-v2-eyJ"
GOOGLE_API=AIzaSyAl
google_api_key=AIza

TORCH_FORCE_NO_WEIGHTS_ONLY_LOAD=1

OPENAI_API_KEY=sk-proj-

MISTRAL_API_KEY=WaUZ9A9

#gemini flash Larisa
#AIzaSyAJXDX85GqYxkr4RmT_oPR_wqAnPf0rbL4